@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<form method="POST">
    <button type="submit" asp-page-handler="Nomal">普通のサンプル(nomal)</button>
    <br />
    <button type="submit" asp-page-handler="Nomalsingle">普通の単票サンプル(nomal 1000page ちょっと遅い)</button>
    <br />
    <button type="submit" asp-page-handler="Norepeat">重複データ非表示(dupedata hidden)※最終ページデータがないところに線を表示</button>
    <br />
    <button type="submit" asp-page-handler="Groupheader">グループヘッダー(groupheader)</button>
    <br />
    <button type="submit" asp-page-handler="Tackseal">タックシールサンプル(tackseal)※formatイベント使用</button>
    <br />
    <button type="submit" asp-page-handler="Eventtest">イベントテストサンプル(eventtest)</button>
    <br />
    <button type="submit" asp-page-handler="Seikyusyo">日本式？請求書(最初の1ページに宛名、後は明細)</button>
    <br />
    <button type="submit" asp-page-handler="Pagesum">ページ計</button>
    <br />
    <button type="submit" asp-page-handler="Merge">別々の帳票を結合(reportmerge)</button>
    <br />
    <button type="submit" asp-page-handler="Fuka">負荷テスト(詳しくはソース)</button>
    <br />

</form>